<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="<%= asset_url %>/img/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p><%= user.name %></p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
            <a href="/admin">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-car"></i> <span>Xe hơi</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/admin/car"><i class="fa fa-circle-o"></i> Danh sách xe</a></li>
                <li><a href="/admin/car/add"><i class="fa fa-circle-o"></i> Thêm xe</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cog"></i> <span>Thông số xe</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/admin/option"><i class="fa fa-circle-o"></i> Danh thông số</a></li>
                <li><a href="/admin/option/add"><i class="fa fa-circle-o"></i> Thêm mới</a></li>
            </ul>
        </li>
    </ul>
</section>